.container {
    max-width: 100% !important;
}


$marginXS: 6px;
$marginSM: 12px;
$marginMD: 32px;
$marginLG: 64px;
$marginXL: 266px;

$borderRadius: 10px;

$primaryColor: #0278b8;
$primaryLightColor: #1ba5ef;
$secondaryColor:#ace25f;
$tertiaryColor:#598a1a;

$boxShadow: 12px 20px 12px 12px rgba(0, 0, 0, 0.4);
$boxShadowAble: 0 2px 10px 0 rgba(33, 33, 33, 0.15);



$darkGray: #333;
$lightGray: #f0f0f0;
$white: #ffffff;
$black: #000000;
$lightAbleGray: #f8f8f8;
$darkAbleGray: #d0d0d0;

.textTertiary {
    color: $tertiaryColor !important;
}

.textPrimary {
    color: $primaryColor !important;
}

.bgSecondary {
    background-color: $secondaryColor !important;
}
.bgTernary {
    background-color: $tertiaryColor !important;
}